@charset "UTF-8";
/* separate components */
.chart-c {
  width: 105px;
  height: 105px;
  margin: 0;
  position: relative;
}
.chart-c.animate svg .circle-foreground {
  animation: offset 1s ease-in-out forwards;
  animation-delay: 1s;
}
.chart-c.animate figcaption:after {
  animation: chart-c-label 1s steps(74) forwards;
  animation-delay: 1s;
}
.chart-c svg {
  width: 100%;
  height: 100%;
}
.chart-c svg .circle-background, .chart-c svg .circle-foreground {
  r: 50px;
  cx: 50%;
  cy: 50%;
  fill: none;
  stroke: #e8eaea;
  stroke-width: 5px;
}
.chart-c svg .circle-foreground {
  stroke: #17c0a3;
  stroke-dasharray: 232.36px 314px;
  stroke-dashoffset: 232.36px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.chart-c figcaption {
  display: inline-block;
  width: 100%;
  height: 24px;
  overflow: hidden;
  text-align: center;
  color: #00a093;
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  font-size: 0;
}
.chart-c figcaption:after {
  display: inline-block;
  content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
  white-space: pre;
  font-size: 24px;
  line-height: 24px;
}

@keyframes chart-c-label {
  100% {
    transform: translateY(-1776px);
  }
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 996px) {
  body .container {
    display: initial;
  }
  body .main-menu-wrap {
    display: flex;
  }
  body .main-menu-wrap .main-menu {
    margin: 0 auto;
  }
  body .main-menu-wrap .main-menu ul {
    display: flex;
  }
  body .main-menu-wrap .main-menu ul li a {
    line-height: 6;
    width: 100px;
    height: 100px;
  }
  body .main-menu-wrap .main-menu ul li a:after {
    bottom: -5px;
  }
  body .content {
    padding: 10px;
  }
  body .content .chart-box .chart {
    max-width: initial;
  }
}
@media (max-width: 768px) {
  body .container header {
    display: flex;
  }
  body .container header .main-menu {
    margin: 0 auto;
  }
  body .container header .main-menu ul {
    display: flex;
  }
  body .container header .main-menu ul li a {
    line-height: 5;
    width: 80px;
    height: 80px;
  }
  body .container header .main-menu ul li a:after {
    bottom: -5px;
  }
  body .container .content .chart-box {
    display: block;
  }
  body .container .content .chart-box .chart {
    margin: 0;
  }
  body .container .content .chart-box .quote {
    width: 100%;
  }
  body .container .content .activity-calendar .calendar-slider::-webkit-scrollbar {
    display: block;
    width: 2px;
  }
  body .container .content .activity-calendar .calendar-slider {
    display: block;
    overflow-x: auto;
    overflow-y: scroll;
    height: 400px;
  }
  body .container .content .activity-calendar .calendar-slider li {
    margin-right: 10px;
  }
  body .container .content .activity-calendar .calendar-slider li:last-child {
    margin-right: 10px;
  }
  body .container .content .activity-calendar .calendar-slider .day-section {
    width: 100%;
    margin-bottom: 10px;
  }
  body .container .content .notification-box {
    display: block;
  }
  body .container .content .notification-box .notification .quote-issues {
    display: none;
  }
  body .container .content .notification-box .notification .notify-list-rows li {
    justify-content: space-around;
  }
  body .container .content .filter-box {
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .container .content .filter-box .filter-form {
    display: flex;
  }
  body .container .content .filter-box .export {
    margin-left: 0px;
  }
  body .container .content .filter-box .printer-icon {
    margin-left: 17px;
  }
}
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Global */
body {
  font: 12px "Roboto", sans-serif;
  color: #cecece;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  font: 12px "Roboto", sans-serif;
  color: #cecece;
}

.big-number {
  font-size: 35px;
  font-weight: 300;
}

/* MAIN MENU */
.main-menu-wrap {
  border-right: 1px solid #ecefef;
}
.main-menu-wrap .main-menu li {
  position: relative;
}
.main-menu-wrap .main-menu .current {
  background: #00a093;
  color: #ffffff;
}
.main-menu-wrap .main-menu .nav-dashboard:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/dashboard-icon.svg");
}
.main-menu-wrap .main-menu .nav-quotes:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/quotes-icon.svg");
}
.main-menu-wrap .main-menu .nav-renewals:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/renewals-icon.svg");
}
.main-menu-wrap .main-menu .nav-clients:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/clients-icon.svg");
}
.main-menu-wrap .main-menu .nav-notify:after {
  position: absolute;
  bottom: 0;
  content: url("../../images/notifications-icon.svg");
}
.main-menu-wrap .main-menu a {
  display: flex;
  line-height: 12;
  justify-content: center;
  width: 125px;
  height: 124px;
  color: #aaaaaa;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
.main-menu-wrap .main-menu a:hover {
  color: #ffffff;
  background: #00a093;
  box-shadow: 0 1px 4px -1px black;
}

/* PAGE CONTENT */
.content {
  flex: 1;
  padding-top: 60px;
  padding-left: 45px;
  /* CHART BOX SECTION */
  /* ACTIVITY CALENDAR SECTION */
  /* CONTENT HEADER TITLE */
  /* GROUP BLOCK */
  /* FILTER BLOCK*/
  /* NOTIFICATION  COLLAPS FILD */
  /* COLLAPS CONTENT */
  /* NOTIFICATION*/
}
.content h3 {
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin: 27px 0 15px;
}
.content .content-header {
  display: flex;
}
.content .content-header h1 {
  font-size: 14px;
  color: #515151;
}
.content .content-header hr {
  flex: 1;
  height: 1px;
  border: 0;
  background: #f9f9f9;
  margin-top: 12px;
  margin-left: 10px;
}
.content .chart-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  /* QUOTE in ASIDE */
}
.content .chart-box .chart {
  width: 100%;
  max-width: 588px;
  margin-right: 10px;
}
.content .chart-box .chart .chart-img {
  background: #f6f7fa;
  border-radius: 7px;
}
.content .chart-box .quote {
  min-width: 228px;
}
.content .chart-box .quote h3 {
  margin: 27px 0 15px;
}
.content .chart-box .quote .quote-box {
  padding-bottom: 40px;
  border-radius: 7px;
  background: #f6f7fa;
}
.content .chart-box .quote .quote-box .quote-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
  border-bottom: 1px solid #d8d8d8;
}
.content .chart-box .quote .quote-box .quote-count {
  text-align: center;
  margin: 30px 0;
}
.content .chart-box .quote .quote-box .quote-count span {
  display: block;
}
.content .chart-box .quote .quote-box .percent-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .chart-box .quote .quote-box .quote-compare {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  margin-top: 35px;
  padding: 0 25px;
  text-transform: capitalize;
}
.content .chart-box .quote .quote-box .quote-compare div {
  width: 80%;
}
.content .chart-box .quote .quote-box .quote-compare .succeded-quotes:before {
  background: #0dc3af;
}
.content .chart-box .quote .quote-box .quote-compare .declined-quotes:before {
  background: #cecece;
}
.content .chart-box .quote .quote-box .quote-compare .dots {
  font-size: 18px;
}
.content .chart-box .quote .quote-box .quote-compare .dots:before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.content .activity-calendar {
  padding-bottom: 20px;
  max-width: 835px;
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar-thumb {
  background-color: #3fcfc1;
  outline: 1px solid slategrey;
}
.content .activity-calendar .calendar-slider::-webkit-scrollbar {
  display: block;
  height: 4px;
}
.content .activity-calendar .calendar-slider {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
}
.content .activity-calendar .calendar-slider li {
  margin-right: 10px;
}
.content .activity-calendar .calendar-slider li:last-child {
  margin-right: 0;
}
.content .activity-calendar .calendar-slider .day-section {
  width: 157px;
  border-radius: 7px;
  overflow: hidden;
  background: #f6f7fa;
}
.content .activity-calendar .calendar-slider .day-section .day-head {
  background: #f0f1f2;
  display: flex;
  padding: 10px 10px 0;
}
.content .activity-calendar .calendar-slider .day-section .day-head .month {
  color: #929293;
  letter-spacing: 1.2px;
  margin-top: 7px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list {
  padding: 5px 10px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list li {
  display: flex;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list li .c-desc {
  padding-top: 20px;
  color: #a8aeae;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1.1px;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .new-quotes .big-number {
  color: #34cebf;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .renewals .big-number {
  color: #fed26a;
}
.content .activity-calendar .calendar-slider .day-section .calendar-drop-list .notification .big-number {
  color: #ffb78b;
}
.content .activity-calendar .calendar-slider .day-section .big-number {
  text-align: right;
  width: 30%;
  margin-right: 10px;
  color: #929293;
  letter-spacing: 3.49px;
}
.content .content-header-title .title-block {
  display: flex;
  margin-bottom: 19px;
}
.content .content-header-title .title-block h1 {
  font-size: 18px;
  font-family: "Roboto";
  color: #00b5a0;
  line-height: 1.5;
}
.content .content-header-title .title-block .add-client {
  width: 267px;
  height: 34px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #00b5a0;
  margin-left: auto;
  cursor: pointer;
}
.content .content-header-title h1 {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #00b5a0;
  line-height: 1.5;
}
.content .content-header-title hr {
  border: 1px solid #00b5a0;
}
.content .group-box {
  display: flex;
  flex-wrap: nowrap;
}
.content .group-box div {
  margin: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto";
  color: #707070;
  line-height: 1.2;
}
.content .filter-box {
  display: flex;
  flex-wrap: nowrap;
}
.content .filter-box .filter-form select {
  font-family: "Myriad Pro";
  color: #bcbcbc;
  line-height: 1.2;
  height: 37px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.content .filter-box .filter-form select span {
  margin: px;
}
.content .filter-box .export {
  padding: 10px;
  margin-left: 100px;
  cursor: pointer;
}
.content .filter-box .export a {
  font-size: 12px;
  font-family: "Roboto";
  color: #149eff;
  line-height: 2.25;
  text-decoration: underline;
}
.content .filter-box .export a i {
  text-decoration: none;
  margin-right: 2px;
}
.content .filter-box .printer-icon {
  padding: 10px;
  font-size: 22px;
  margin-left: 70px;
  cursor: pointer;
}
.content .filter-box .search-box {
  position: relative;
  margin-left: 25px;
}
.content .filter-box .search-box .searchTerm {
  float: left;
  /* width: 81%; */
  border: 1px solid #d8d8d8;
  padding: 5px;
  height: 35px;
  border-radius: 28px;
  outline: none;
  font-size: 14px;
  color: #bcbcbc;
}
.content .filter-box .search-box .searchTerm :focus {
  color: #bcbcbc;
}
.content .filter-box .search-box ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bcbcbc;
}
.content .filter-box .search-box :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d8d8d8;
}
.content .filter-box .search-box ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d8d8d8;
}
.content .filter-box .search-box .searchButton {
  position: absolute;
  right: -8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #00b5a0;
  background: #00b5a0;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.content .collapsible {
  display: flex;
  background-color: #fafafa;
  height: 52px;
  justify-content: center;
  align-items: center;
}
.content .collapsible:hover {
  background-color: #00b5a0;
  color: #fff;
}
.content .collapsible .active {
  background-color: #00b5a0;
  color: #fff;
}
.content .collapsible .checkbox {
  flex-grow: 0;
}
.content .collapsible .checkbox input {
  margin-left: 10px;
}
.content .collapsible .status {
  flex-grow: 0;
}
.content .collapsible .not_autor {
  flex-grow: 11;
}
.content .collapsible .not_title {
  flex-grow: 16;
}
.content .collapsible .not_date {
  flex-grow: 10;
}
.content .collapsible_content {
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding-top: 30px;
  padding-bottom: 36px;
  padding-left: 73px;
  display: none;
  overflow: hidden;
  background-color: #fff;
}
.content .collapsible_content .report {
  float: left;
  width: 70%;
  font-size: 12px;
  font-family: "Myriad Pro";
  line-height: 1.387;
}
.content .collapsible_content .report p {
  color: #58595b;
}
.content .collapsible_content .report span {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ccc;
  display: block;
}
.content .collapsible_content .report button {
  height: 36px;
  background-color: #aaaaaa;
  color: #fff;
  min-width: 170px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  text-transform: uppercase;
}
.content .collapsible_content .report button:hover {
  background-color: #00b5a0;
}
.content .collapsible_content .print {
  float: left;
  font-size: 28px;
  padding-left: 41px;
}
.content .pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content .pagination-block .per-page {
  margin-left: 15px;
  margin-right: 15px;
}
.content .pagination-block .per-page label {
  color: #707070;
  padding: 15px;
}
.content .pagination-block .per-page select {
  height: 32px;
  color: #707070;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.content .pagination-block .pagination a {
  height: 32px;
  color: #707070;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 3px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.content .pagination-block .pagination a:hover {
  background-color: #707070;
  color: #fff;
}

/* NOTIFICATION BOX SECTION */
.notification-box {
  display: flex;
  justify-content: space-between;
  /* CLIENTS BOX */
}
.notification-box .notification {
  width: 100%;
  margin-right: 10px;
}
.notification-box .notification .notify-list-rows {
  border-radius: 7px;
  overflow: hidden;
  background: #f6f7fa;
}
.notification-box .notification .notify-list-rows li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  height: 45px;
  padding-right: 15px;
}
.notification-box .notification .notify-list-rows li .notify-date:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ffcf60;
  margin: 0 20px;
}
.notification-box .notification .notify-list-rows li .notify-date {
  padding: 0 10px;
  white-space: nowrap;
}
.notification-box .notification .notify-list-rows li .notify-name {
  width: 120px;
  padding: 0 10px;
}
.notification-box .notification .notify-list-rows li .quote-issues {
  flex: 1;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.notification-box .notification .notify-list-rows li .btn-read .btn {
  width: 84px;
  height: 27px;
  font-size: 10px;
  letter-spacing: 0.8px;
}
.notification-box .all-notify, .notification-box .all-clients {
  width: 208px;
  height: 33px;
  margin: 20px auto 35px;
  font-size: 12px;
  letter-spacing: 0.96px;
}
.notification-box .all-clients {
  width: 179px;
  margin-bottom: 0;
}
.notification-box .clients-box {
  min-width: 228px;
}
.notification-box .clients-box .clients {
  background: #f6f7fa;
  border-radius: 7px;
}
.notification-box .clients-box .clients .cl-list {
  padding-bottom: 35px;
}
.notification-box .clients-box .clients .cl-list li {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  height: 85px;
}
.notification-box .clients-box .clients .cl-list li .client-avatar {
  flex: 1;
  padding: 10px;
}
.notification-box .clients-box .clients .cl-list li .client-avatar .img-wrap {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.notification-box .clients-box .clients .cl-list li .client-avatar .img-wrap img {
  width: 100%;
  height: 100%;
}
.notification-box .clients-box .clients .cl-list li .client-info {
  position: relative;
  flex: 3;
}
.notification-box .clients-box .clients .cl-list li .client-info:after {
  position: absolute;
  top: 0;
  right: 15px;
  content: url("../../images/eye-icon.svg");
  width: 20px;
  height: 11px;
}
.notification-box .clients-box .clients .cl-list li .client-info .cl-name {
  color: #00b5a0;
  letter-spacing: 1.2px;
}
.notification-box .clients-box .clients .cl-list li .client-info .cl-date {
  color: #b5b5b5;
  font-size: 10px;
  letter-spacing: 1px;
}
.notification-box .clients-box .clients .cl-list li .client-info .insurance {
  font-size: 10px;
  font-weight: 500;
  color: #939393;
  letter-spacing: 1px;
}

/* STATUS BUTTON */
.circle {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
}

.yellow {
  background: #ffcf60;
}

.red {
  background: #ff636a;
}

.blue {
  background: #00b5f6;
}

.green {
  background: #50cc27;
}

/* BUTTON */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 400;
  color: #ffffff;
  background: #00b5a0;
  cursor: pointer;
}
.btn:hover {
  background: #2c6f67;
  transition: 0.3s;
}

/*switch_box*/
.switch_box {
  float: right;
  width: 23%;
  text-align: left;
  padding: 10px 15px 0px 15px;
}

/*Monthly*/
.montly {
  font-size: 11px;
  color: #ccc;
  text-align: left;
  float: left;
}

/*Daily*/
.daily {
  font-size: 11px;
  color: #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 1px;
  float: left;
  margin: 6px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 3px;
  border-radius: 50px;
  bottom: -5px;
  background-color: #fff;
  border: 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #17c0a3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17c0a3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.content .activity-calendar:hover .calendar-slider::-webkit-scrollbar {
  display: block;
  height: 8px;
}

/* Renewals page */
.renewals-filter {
  margin-top: 30px;
  margin-bottom: 25px;
  align-items: center;
}
.renewals-filter .remew_filter_btn {
  border: none;
  background-color: #00b5a0;
  height: 36px;
  font-size: 12px;
  font-family: "Roboto";
  color: white;
  line-height: 2.25;
  /* padding: 34px; */
  padding: 0 68px;
  border-radius: 5px;
  margin-left: 12px;
}
.renewals-filter .filter-item {
  position: relative;
  color: #9b9b9b;
  background-color: #dddddd;
  height: 32px;
  border-radius: 5px;
  padding: 10px;
  margin: 2px 5px;
}
.renewals-filter .filter-item div {
  float: left;
}
.renewals-filter .filter-item span {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #dddddd;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
  margin-top: -3px;
}
.renewals-filter .printer-icon-renew {
  margin-left: auto;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
}
.renewals-filter .export-renew {
  margin-left: auto;
  cursor: pointer;
}
.renewals-filter .export-renew a {
  font-size: 12px;
  font-family: "Roboto";
  color: #149eff;
  line-height: 2.25;
  text-decoration: underline;
}
.renewals-filter .export-renew a i {
  text-decoration: none;
  margin-right: 2px;
}

.renewals_table_items {
  background-color: #efefef;
  height: 64px;
  display: flex;
  color: #ccc;
  align-items: center;
}
.renewals_table_items span {
  border-left: 1px solid #ccc;
  height: 40px;
  margin-right: 2px;
}
.renewals_table_items .renewals_id {
  flex-grow: 1;
  margin-left: 15px;
}
.renewals_table_items .renewals_date {
  flex-grow: 1;
}
.renewals_table_items .renewals_date select {
  background-color: #efefef;
  border: none;
  color: #ccc;
}
.renewals_table_items .renewals_name {
  flex-grow: 2;
}
.renewals_table_items .renewals_email {
  flex-grow: 9;
}
.renewals_table_items .renewals_customer {
  flex-grow: 4;
}
.renewals_table_items .renewals_policies {
  flex-grow: 3;
}
.renewals_table_items .renewals_referrer {
  flex-grow: 3;
}
.renewals_table_items .renewals_payment {
  flex-grow: 3;
}
.renewals_table_items .renewals_total {
  flex-grow: 3;
}
.renewals_table_items .renewals_processed {
  flex-grow: 3;
}

.renewals_filde {
  height: 60px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 11px;
}
.renewals_filde div {
  padding-right: 2px;
  padding-left: 2px;
}
.renewals_filde:nth-child(odd) {
  background: #fafafa;
}
.renewals_filde:nth-child(even) {
  background: #ffffff;
}
.renewals_filde .renewals_name {
  flex-grow: 2;
}
.renewals_filde .renewals_email {
  flex-grow: 9;
}
.renewals_filde .renewals_customer {
  flex-grow: 4;
}
.renewals_filde .renewals_policies {
  flex-grow: 3;
}
.renewals_filde .renewals_referrer {
  flex-grow: 3;
}
.renewals_filde .renewals_payment {
  flex-grow: 3;
}
.renewals_filde .renewals_total {
  flex-grow: 3;
}
.renewals_filde .renewals_processed {
  flex-grow: 3;
}
.renewals_filde .renewals_processed .unprocessed_btn {
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: #ea2f54;
  color: #fff;
  font-size: 11px;
  padding: 0 9px;
}

/* Client page*/
.filter-blocked {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.filter-blocked .export-bloced {
  margin-left: auto;
  cursor: pointer;
}
.filter-blocked .export-bloced a {
  font-size: 12px;
  font-family: "Roboto";
  color: #149eff;
  line-height: 2.25;
  text-decoration: underline;
}
.filter-blocked .export-bloced a i {
  text-decoration: none;
  margin-right: 2px;
}
.filter-blocked .selected {
  height: 35px;
  margin-left: 15px;
  border-radius: 5px;
  color: #c4c4c4;
  min-width: 119px;
}
.filter-blocked .select-action {
  height: 35px;
  margin-left: 15px;
  border-radius: 5px;
  color: #c4c4c4;
  min-width: 143px;
}
.filter-blocked .checkbox-lable {
  color: #00b5a0;
  display: flex;
  align-items: center;
  margin-left: 17px;
  font-size: 17px;
  font-family: Myriad Pro;
}
.filter-blocked .checkbox-lable input {
  display: none;
  color: #00b5a0;
  padding-right: 10px;
}
.filter-blocked .checkbox-lable input:checked + span:before {
  content: "🗹";
  position: absolute;
  color: #00b5a0;
  top: -9px;
  left: -3px;
  font-size: 23px;
}
.filter-blocked .checkbox-lable .checkmark {
  height: 17px;
  width: 17px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.clients_table .clients_table_items {
  display: flex;
  background-color: #efefef;
  height: 64px;
  align-items: center;
  color: #bdbdbd;
}
.clients_table .clients_table_items select {
  background-color: #efefef;
  border: none;
  color: #bdbdbd;
}
.clients_table .clients_table_items .checkbox_icon {
  font-size: 28px;
  margin-left: 10px;
  margin-top: -10px;
}
.clients_table .clients_table_items .customer {
  flex-grow: 2;
}
.clients_table .clients_table_items .name {
  flex-grow: 3;
}
.clients_table .clients_table_items .email {
  flex-grow: 14;
}
.clients_table .clients_table_items .policy-number {
  flex-grow: 2;
}
.clients_table .clients_table_items .type {
  flex-grow: 2;
}
.clients_table .clients_table_items .registered {
  flex-grow: 2;
}
.clients_table .clients_table_items .status {
  flex-grow: 2;
}
.clients_table .clients_table_filde {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fafafa;
  font-size: 11px;
  font-family: "Roboto";
  color: #707070;
  line-height: 2.455;
}
.clients_table .clients_table_filde .checkbox_icon {
  flex-grow: 1;
}
.clients_table .clients_table_filde .checkbox_icon span {
  color: #c4c4c4;
  display: flex;
  align-items: center;
  margin-left: 9px;
  font-size: 33px;
  font-family: Myriad Pro;
}
.clients_table .clients_table_filde .checkbox_icon .checkbox-select input {
  display: none;
  color: #00b5a0;
}
.clients_table .clients_table_filde .checkbox_icon .checkbox-select input:checked + span:before {
  content: "🗹";
  position: absolute;
  color: #00b5a0;
  top: -18px;
  left: -3px;
  font-size: 23px;
}
.clients_table .clients_table_filde .checkbox_icon .checkbox-select .checkmark {
  height: 17px;
  width: 17px;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
  background-color: #fff;
}
.clients_table .clients_table_filde .customer-filde {
  flex-grow: 18;
  padding-left: 9px;
}
.clients_table .clients_table_filde .name-filde {
  flex-grow: 11;
}
.clients_table .clients_table_filde .email-filde {
  flex-grow: 19;
}
.clients_table .clients_table_filde .policy-number-filde {
  flex-grow: 10;
}
.clients_table .clients_table_filde .type-filde {
  flex-grow: 12;
}
.clients_table .clients_table_filde .registered-filde {
  flex-grow: 12;
}
.clients_table .clients_table_filde .status-filde {
  flex-grow: 8;
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #00b5a0;
  line-height: 2.25;
}
.clients_table .clients_table_filde .status-filde i {
  color: #00b5a0;
  margin-right: 5px;
}
.clients_table .clients_table_filde .hiddon-block {
  display: none;
  flex-grow: 10;
}
.clients_table .clients_table_filde .hiddon-block .hiddon-title {
  display: flex;
  flex-grow: 18;
}
.clients_table .clients_table_filde .hiddon-block .hiddon-title .hiddon-name {
  font-size: 16px;
  color: #fff;
  line-height: 1.688;
  flex-grow: 20;
}
.clients_table .clients_table_filde .hiddon-block .hiddon-title .hiddon-date-block {
  display: flex;
  flex-grow: 10;
}
.clients_table .clients_table_filde .hiddon-block .hiddon-title p {
  font-size: 10px;
  color: #72e8d7;
  line-height: 2.7;
}
.clients_table .clients_table_filde .hiddon-block .hiddon-title label {
  font-size: 10px;
  color: #72e8d7;
  line-height: 2.7;
}
.clients_table .client-info-block {
  display: none;
}
.clients_table .client-info-block .client-info-header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fafafa;
  font-size: 11px;
  font-family: "Roboto";
  color: #707070;
  line-height: 2.455;
}
.clients_table .client-info-block .client-info-header label {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #aaaaaa;
  line-height: 2.25;
  text-align: left;
  margin-left: 96px;
}
.clients_table .client-info-block .client-info-header p {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #666666;
  line-height: 2.25;
  margin-left: 19px;
}
.clients_table .client-info-block .client-info-header .statuse {
  margin-left: auto;
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #00b5a0;
  line-height: 2.25;
  margin-right: 30px;
}
.clients_table .client-info-block .client-info-header .statuse i {
  color: #00b5a0;
  margin-right: 5px;
}
.clients_table .client-info-block .client-info-content {
  display: flex;
}
.clients_table .client-info-block .client-info-content .personal-datails {
  margin-left: 60px;
  margin-right: 25px;
}
.clients_table .client-info-block .client-info-content .personal-datails .insurance-tayp {
  min-width: 330px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.clients_table .client-info-block .client-info-content .personal-datails .insurance-tayp label {
  font-size: 12px;
  color: #aaaaaa;
}
.clients_table .client-info-block .client-info-content .personal-datails .insurance-tayp p {
  font-size: 12px;
  color: #666666;
  margin-left: 14px;
}
.clients_table .client-info-block .client-info-content .personal-datails .insurance-tayp button {
  height: 28px;
  border: none;
  background-color: #0dc3af;
  color: #fff;
  border-radius: 4px;
  min-width: 150px;
  margin-left: 46px;
  text-transform: uppercase;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form {
  min-width: 330px;
  border: 1px #f5f5f5;
  border-style: dashed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .top-title {
  font-family: "Roboto";
  color: #9b9b9b;
  line-height: 1.2;
  margin-top: -8px;
  margin-left: 7px;
  margin-bottom: 15px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group {
  margin-right: 44px;
  margin-left: 19px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .save {
  height: 27px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00b5a0;
  width: 155px;
  margin-right: 20px;
  font-size: 12px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .discarde {
  height: 27px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #bebebf;
  width: 84px;
  font-size: 12px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group label {
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Roboto";
  color: #aaaaaa;
  line-height: 2.25;
  text-align: left;
  min-width: 80px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group input[type=text] {
  min-width: 130px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group select {
  min-width: 158px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group i {
  color: #17c0a3;
  font-size: 15px;
  margin-left: 10px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info {
  display: flex;
  align-items: center;
  min-width: 158px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info .date-type {
  font-family: "Roboto";
  color: #666666;
  line-height: 1.2;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info .switch_block {
  position: relative;
  display: inline-block;
  min-width: 51px;
  height: 10px;
  float: left;
  margin: 6px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info .switch_block input {
  display: none;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 38px;
  height: 14px;
  border-radius: 29px;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  border-radius: 50px;
  bottom: 0px;
  background-color: #fff;
  border: 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info input:checked + .slider {
  background-color: #17c0a3;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info input:focus + .slider {
  box-shadow: 0 0 1px #17c0a3;
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .switch_box_info input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.clients_table .client-info-block .client-info-content .personal-datails .datail-form .form-group .user_photo img {
  width: 47px;
  border-radius: 50%;
}
.clients_table .client-info-block .client-info-content .contact-info .insurance-tayp-1 {
  min-width: 330px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.clients_table .client-info-block .client-info-content .contact-info .insurance-tayp-1 label {
  font-size: 12px;
  color: #aaaaaa;
}
.clients_table .client-info-block .client-info-content .contact-info .insurance-tayp-1 p {
  font-size: 12px;
  color: #666666;
  margin-left: 14px;
}
.clients_table .client-info-block .client-info-content .contact-info .insurance-tayp-1 button {
  height: 28px;
  border: none;
  background-color: #0dc3af;
  color: #fff;
  border-radius: 4px;
  min-width: 150px;
  margin-left: 46px;
  text-transform: uppercase;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form {
  min-width: 330px;
  border: 1px #f5f5f5;
  border-style: dashed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form button {
  width: 110px;
  height: 30px;
  color: #fff;
  background-color: #00b5a0;
  border-radius: 5px;
  border: none;
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: 15px;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form span {
  font-family: "Roboto";
  color: #9b9b9b;
  line-height: 1.2;
  margin-top: -8px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form .form-group {
  margin-right: 44px;
  margin-left: 19px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form .form-group div {
  font-size: 12px;
  font-family: "Roboto";
  color: #666666;
  line-height: 2.25;
  text-align: right;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form .form-group label {
  font-size: 12px;
  font-family: "Roboto";
  color: #aaaaaa;
  line-height: 2.25;
  text-align: left;
  min-width: 110px;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form .form-group input {
  min-width: 130px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.clients_table .client-info-block .client-info-content .contact-info .info-form .form-group select {
  min-width: 158px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
}
.clients_table .client-info-block .client-info-content .info-print {
  margin-top: 30px;
  font-size: 19px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients_table .client-info-block .client-info-content .info-print i {
  margin-bottom: auto;
}
.clients_table .client-info-block .client-info-content .info-print .block {
  align-self: flex-end;
  border: 1px solid #ededed;
  border-radius: 4px;
  background-color: #fff;
  color: #b5b5b5;
  height: 40px;
  min-width: 100px;
}

/*Quotes page*/
.quotes_table_items {
  background-color: #efefef;
  height: 64px;
  display: flex;
  color: #ccc;
  align-items: center;
}
.quotes_table_items .quotes_id {
  flex-grow: 1;
  margin-left: 15px;
}
.quotes_table_items .quotes_date {
  flex-grow: 4;
}
.quotes_table_items .quotes_date select {
  background-color: #efefef;
  border: none;
  color: #ccc;
}
.quotes_table_items .quotes_name {
  flex-grow: 5;
}
.quotes_table_items .quotes_type {
  flex-grow: 1;
}
.quotes_table_items .quotes_email {
  flex-grow: 19;
}
.quotes_table_items .quotes_customer {
  flex-grow: 4;
}
.quotes_table_items .quotes_policies {
  flex-grow: 3;
}
.quotes_table_items .quotes_referrer {
  flex-grow: 3;
}
.quotes_table_items .quotes_last_step {
  flex-grow: 2;
}
.quotes_table_items .quotes_quote_status {
  flex-grow: 3;
}
.quotes_table_items .quotes_payment {
  flex-grow: 3;
}
.quotes_table_items .quotes_total {
  flex-grow: 3;
}
.quotes_table_items .quotes_processed {
  flex-grow: 3;
}

.quotes_filde {
  height: 60px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 11px;
}
.quotes_filde:nth-child(odd) {
  background: #fafafa;
}
.quotes_filde:nth-child(even) {
  background: #ffffff;
}
.quotes_filde .quotes_filde_id {
  flex-grow: 1;
  margin-left: 5px;
}
.quotes_filde .quotes_filde_type {
  flex-grow: 1;
}
.quotes_filde .quotes_filde_date {
  flex-grow: 3;
}
.quotes_filde .quotes_filde_name {
  flex-grow: 1;
}
.quotes_filde .quotes_filde_email {
  flex-grow: 4;
}
.quotes_filde .quotes_filde_last_step {
  flex-grow: 3;
}
.quotes_filde .quotes_filde_referrer {
  flex-grow: 3;
}
.quotes_filde .quotes_filde_quote_status {
  flex-grow: 2;
}
.quotes_filde .quotes_filde_quote_status span {
  font-size: 11px;
  font-family: "Roboto";
  color: #4c8ae5;
  line-height: 2.455;
}
.quotes_filde .quotes_filde_payment {
  flex-grow: 6;
}
.quotes_filde .quotes_filde_total {
  flex-grow: 1;
}
.quotes_filde .quotes_filde_processed {
  flex-grow: 1;
}
.quotes_filde .quotes_filde_processed {
  flex-grow: 1;
}
.quotes_filde .quotes_filde_processed .quotes_unprocessed_btn {
  height: 32px;
  border: none;
  border-radius: 5px;
  background-color: #ea2f54;
  color: #fff;
  font-size: 11px;
  padding: 0 9px;
}

.quotes-info-block .quotes-info-header {
  height: 50px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
}
.quotes-info-block .quotes-info-header .full-name {
  font-size: 14px;
  font-family: "Roboto";
  color: #00b5a0;
  line-height: 1.929;
  margin-right: auto;
  margin-left: 30px;
}
.quotes-info-block .quotes-info-header .full-name hr {
  border-color: #00b5a0;
  border: 0.5px solid;
}
.quotes-info-block .quotes-info-header .pricing {
  font-size: 11px;
  font-family: "Myriad Pro";
  color: #9b9b9b;
  line-height: 2.455;
  margin-left: 10px;
}
.quotes-info-block .quotes-info-header .pricing span {
  color: #666666;
}
.quotes-info-block .quotes-info-header .total span {
  font-size: 18px;
  margin-right: 40px;
}
.quotes-info-block .quotes-info-content {
  margin-left: 30px;
  margin-top: 20px;
}
.quotes-info-block .quotes-info-content .quotes-options {
  display: flex;
  align-items: center;
}
.quotes-info-block .quotes-info-content .quotes-options button {
  height: 27px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #00b567;
  font-size: 12px;
  font-family: "Roboto";
  color: white;
  line-height: 2.25;
}
.quotes-info-block .quotes-info-content .quotes-options .posted {
  min-width: 199px;
}
.quotes-info-block .quotes-info-content .quotes-options .paid {
  min-width: 144px;
  margin-left: 9px;
}
.quotes-info-block .quotes-info-content .quotes-options .completed {
  min-width: 163px;
  margin-left: 9px;
}
.quotes-info-block .quotes-info-content .quotes-options label {
  font-size: 14px;
  font-family: "Roboto";
  color: #00b567;
  line-height: 1.929;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener {
  display: flex;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block {
  border-radius: 10px;
  border: 1px dashed #e2e2e2;
  width: 600px;
  margin-top: 30px;
  padding-left: 27px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 30px;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .questions-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .questions-title p {
  font-family: "Myriad Pro";
  color: #c6c6c6;
  line-height: 1.2;
  flex-grow: 1;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .questions-title span {
  border-bottom: 1px solid #c6c6c6;
  flex-grow: 100;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions p {
  font-family: "Roboto";
  color: #9b9b9b;
  line-height: 1.2;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions span {
  color: #666666;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions .destination {
  display: flex;
  flex-grow: 10;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions .from-till {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions .from-till div {
  display: flex;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .cover-questions .duration {
  display: flex;
  flex-grow: 2;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .package-selection .package-block {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .package-selection .package-block p {
  font-family: "Roboto";
  color: #9b9b9b;
  line-height: 1.2;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .package-selection .package-block span {
  color: #666666;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .package-selection .package-block .package {
  flex-grow: 10;
  display: flex;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .package-selection .package-block .sports {
  flex-grow: 10;
  display: flex;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .medical-history p {
  font-family: "Myriad Pro";
  color: #9b9b9b;
  line-height: 1.2;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-block .medical-history span {
  color: #666666;
}
.quotes-info-block .quotes-info-content .quotes-popup-contener .quote-information-right-block {
  margin-top: 30px;
  margin-left: 25px;
  border-radius: 10px;
  border: 1px dashed #e2e2e2;
  width: 600px;
}

/*# sourceMappingURL=style.css.map */
