
<div class="content-header">
    <h1>Statistics</h1>
    <hr>
</div>
<!--chart box section-->
<section class="chart-box">
    <div class="chart">
        <h3>chart</h3>
        <div style="background-color: #f6f7fa; ">
            <div class="switch_box">
                <div class="montly">Monthly</div>
                <label class="switch">
                    <input id="test" data-type="false" type="checkbox" >
                    <span class="slider"></span>
                </label>
                <div class="daily" >Daily</div>
            </div>
            <canvas id="myChart" width="580" height="390"></canvas>
        </div>
    </div>

    <!--quote-->
    <aside class="quote">
        <h3>succeeded quotes ratio</h3>

        <!--quote box-->
        <div class="quote-box">

            <div class="quote-date">February 2018</div>

            <div class="quote-count">
                <span class="big-number">292</span>
                <span>Quotes Received</span>
            </div>

            <!--percent mode-->
            <div class="percent-mode">
                <figure class="chart-c animate">
                    <svg role="img">
                        <circle class="circle-background"/>
                        <circle class="circle-foreground"/>
                    </svg>
                    <figcaption>50%</figcaption>
                </figure>
            </div>
            <!--end of percent mode-->

            <div class="quote-compare">
                <div>
                    <div class="succeded-quotes dots"> 246</div>
                    <div>succeded quotes</div>
                </div>
                <div>
                    <div class="declined-quotes dots"> 46</div>
                    <div>declined quotes</div>
                </div>
            </div>

        </div>
        <!--end of quote box-->

    </aside>
    <!--end of quote-->

</section>
<!--end of chart box section-->

<!--activity calendar section-->
<section class="activity-calendar">
    <h3>activity calendar</h3>
    <!--calendar slider-->
    <ul class="calendar-slider">
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>
        <li>
            <!--day section-->
            <div class="day-section">
                <div class="day-head">
                    <div class="big-number">29</div>
                    <div>
                        <div class="month">Feb</div>
                        <div class="week">Monday</div>
                    </div>
                </div>
                <!--calendar drop list-->
                <ul class="calendar-drop-list">
                    <li class="new-quotes">
                        <div class="big-number">5</div>
                        <div class="c-desc">New Quotes</div>
                    </li>
                    <li class="renewals">
                        <div class="big-number">2</div>
                        <div class="c-desc">Renewals</div>
                    </li>
                    <li class="notification">
                        <div class="big-number">15</div>
                        <div class="c-desc">Notifications</div>
                    </li>
                </ul>
                <!--end of calendar drop list-->
            </div>
            <!--end of day section-->
        </li>

    </ul>
    <!--end of calendar slider-->
</section>
<!--end of activity calendar section-->

<!--notification box section-->
<section class="notification-box">
    <div class="notification">
        <h3>last notifications</h3>
        <!--notify-list-->
        <ul class="notify-list-rows">
            <li>
                <div class="notify-date">
                    <span>11 Feb</span> | <span>12:30</span>
                </div>
                <div class="notify-name">John Smith</div>
                <div class="quote-issues">Quote issues</div>
                <div class="btn-read"><a class="btn" href="#">read</a></div>
            </li>
            <li>
                <div class="notify-date">
                    <span>11 Feb</span> | <span>12:30</span>
                </div>
                <div class="notify-name">John Smith</div>
                <div class="quote-issues">Quote issues</div>
                <div class="btn-read"><a class="btn" href="#">read</a></div>
            </li>
            <li>
                <div class="notify-date">
                    <span class="day-month">11 Feb</span> | <span>12:30</span>
                </div>
                <div class="notify-name">John Smith</div>
                <div class="quote-issues">Quote issues</div>
                <div class="btn-read"><a class="btn" href="#">read</a></div>
            </li>
            <li>
                <div class="notify-date">
                    <span class="day-month">11 Feb</span> | <span>12:30</span>
                </div>
                <div class="notify-name">John Smith</div>
                <div class="quote-issues">Quote issues</div>
                <div class="btn-read"><a class="btn" href="#">read</a></div>
            </li>
            <li>
                <div class="notify-date">
                    <span class="day-month">11 Feb</span> | <span>12:30</span>
                </div>
                <div class="notify-name">John Smith</div>
                <div class="quote-issues">Quote issues</div>
                <div class="btn-read"><a class="btn" href="#">read</a></div>
            </li>
            <div><a class="all-notify btn" href="#">all notifications</a></div>
        </ul>
        <!--end of notify-list-->
    </div>

    <!--clients box-->
    <aside class="clients-box">
        <h3>last clients</h3>
        <div class="clients">
            <ul class="cl-list">
                <li>
                    <div class="client-avatar">
                        <div class="img-wrap">
                            <img src="assets/images/avatar.png" alt="avatar">
                        </div>
                    </div>
                    <div class="client-info">
                        <div class="cl-name">John Smith</div>
                        <div class="cl-date">11 Feb | 12:30</div>
                        <div class="insurance">Home insurance</div>
                    </div>
                </li>
                <li>
                    <div class="client-avatar">
                        <div class="img-wrap">
                            <img src="assets/images/avatar.png" alt="avatar">
                        </div>
                    </div>
                    <div class="client-info">
                        <div class="cl-name">John Smith</div>
                        <div class="cl-date">11 Feb | 12:30</div>
                        <div class="insurance">Home insurance</div>
                    </div>
                </li>
                <li>
                    <div class="client-avatar">
                        <div class="img-wrap">
                            <img src="assets/images/avatar.png" alt="avatar">
                        </div>
                    </div>
                    <div class="client-info">
                        <div class="cl-name">John Smith</div>
                        <div class="cl-date">11 Feb | 12:30</div>
                        <div class="insurance">Home insurance</div>
                    </div>
                </li>
                <div><a class="all-clients btn" href="#">all clients</a></div>
            </ul>
        </div>
    </aside>
    <!--end of clients box-->

</section>
<!--end of notification box section-->