@media (max-width: 996px) {
  body {
    .container {
      display: initial;
    }

    .main-menu-wrap {
      display: flex;
      .main-menu {
        margin: 0 auto;
        ul {
          display: flex;
          li{
            a{
              line-height: 6;
              width: 100px;
              height: 100px;
              &:after{
                bottom: -5px;
              }
            }
          }

        }
      }
    }
    .content {
      padding: 10px;
      .chart-box{
        .chart{
          max-width: initial;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    .container {
      header {
        display: flex;
        .main-menu {
          margin: 0 auto;
          ul {
            display: flex;
            li{
              a{
                line-height: 5;
                width: 80px;
                height: 80px;
                &:after{
                  bottom: -5px;
                }
              }
            }
          }
        }
      }
      .content {
        .chart-box {
          display: block;
          .chart {
            margin: 0;
            .chart-img {
            }
          }
          .quote {
            width: 100%;
          }
        }
        .activity-calendar {
          .calendar-slider::-webkit-scrollbar {
            display: block;
            width: 2px;
          }
          .calendar-slider {
            display: block;
            overflow-x: auto;
            overflow-y: scroll;
            height: 400px;
            li {
              margin-right: 10px;
              &:last-child {
                margin-right: 10px;
              }
            }
            .day-section {
              width: 100%;
              margin-bottom: 10px;
            }
          }
        }
        .notification-box {
          display: block;
          .notification {
            .quote-issues {
              display: none;
            }
            .notify-list-rows {
              li {
                justify-content: space-around;
              }
            }
          }
        }
        .filter-box {
          .filter-form {
            display: flex;
          }
          .export{
            margin-left: 0px;
          }
          .printer-icon {
            margin-left: 17px;
          }
          -webkit-flex-wrap: wrap;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

        }
      }
    }
  }
}