/* separate components */
@import "circular-percent";
@import "media";

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Global */
body {
  font: 12px 'Roboto', sans-serif;
  color: #cecece;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  font: 12px 'Roboto', sans-serif;
  color: #cecece;
}

.big-number {
  font-size: 35px;
  font-weight: 300;
}

/* MAIN MENU */
.main-menu-wrap {
  border-right: 1px solid #ecefef;
  .main-menu {
    li {
      position: relative;
    }
    .current {
      background: #00a093;
      color: #ffffff;
      //box-shadow: 0 2px 27px -2px black;
    }
    .nav-dashboard:after {
      position: absolute;
      bottom: 0;
      content: url("../../images/dashboard-icon.svg");
    }
    .nav-quotes:after {
      position: absolute;
      bottom: 0;
      content: url("../../images/quotes-icon.svg");
    }
    .nav-renewals:after {
      position: absolute;
      bottom: 0;
      content: url("../../images/renewals-icon.svg");
    }
    .nav-clients:after {
      position: absolute;
      bottom: 0;
      content: url("../../images/clients-icon.svg");
    }
    .nav-notify:after {
      position: absolute;
      bottom: 0;
      content: url("../../images/notifications-icon.svg");
    }

    a {
      display: flex;
      line-height: 12;
      justify-content: center;
      width: 125px;
      height: 124px;
      color: #aaaaaa;
      font-weight: 500;
      letter-spacing: 1.2px;
      text-transform: capitalize;
      &:hover {
        color: #ffffff;
        background: #00a093;
        box-shadow: 0 1px 4px -1px black;
      }
    }
  }
}

/* PAGE CONTENT */

.content {
  flex: 1;
  padding-top: 60px;
  padding-left: 45px;
  h3 {
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin: 27px 0 15px;
  }
  .content-header {
    display: flex;
    h1 {
      font-size: 14px;
      color: #515151;
    }
    hr {
      flex: 1;
      height: 1px;
      border: 0;
      background: #f9f9f9;
      margin-top: 12px;
      margin-left: 10px;
    }
  }

  /* CHART BOX SECTION */
  .chart-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .chart {
      width: 100%;
      max-width: 588px;
      margin-right: 10px;

      .chart-img {
        background: #f6f7fa;
        border-radius: 7px;
      }
    }
    /* QUOTE in ASIDE */
    .quote {
      min-width: 228px;
      h3 {
        margin: 27px 0 15px;
      }
      .quote-box {
        padding-bottom: 40px;
        border-radius: 7px;
        background: #f6f7fa;
        .quote-date {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 57px;
          border-bottom: 1px solid #d8d8d8;
        }
        .quote-count {
          text-align: center;
          margin: 30px 0;
          span {
            display: block;
          }
        }
        .percent-mode {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .quote-compare {
          display: flex;
          justify-content: space-around;
          font-size: 11px;
          margin-top: 35px;
          padding: 0 25px;
          text-transform: capitalize;
          div {
            width: 80%;
          }
          .succeded-quotes:before {
            background: #0dc3af;
          }
          .declined-quotes:before {
            background: #cecece;
          }
          .dots {
            font-size: 18px;
            &:before {
              content: " ";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  /* ACTIVITY CALENDAR SECTION */
  .activity-calendar {
    padding-bottom: 20px;
    max-width: 835px;
    .calendar-slider::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    }

    .calendar-slider::-webkit-scrollbar-thumb {
      background-color: #3fcfc1;
      outline: 1px solid slategrey;
    }
    .calendar-slider::-webkit-scrollbar {
      display: block;
      height: 4px;
    }

    .calendar-slider {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 20px;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      .day-section {
        width: 157px;
        border-radius: 7px;
        overflow: hidden;
        background: #f6f7fa;
        .day-head {
          background: #f0f1f2;
          display: flex;
          padding: 10px 10px 0;
          .month {
            color: #929293;
            letter-spacing: 1.2px;
            margin-top: 7px;
          }
        }
        .calendar-drop-list {
          padding: 5px 10px;
          li {
            display: flex;
            .c-desc {
              padding-top: 20px;
              color: #a8aeae;
              font-size: 11px;
              font-weight: 400;
              letter-spacing: 1.1px;
            }
          }
          .new-quotes {
            .big-number {
              color: #34cebf;
            }
          }
          .renewals {
            .big-number {
              color: #fed26a;
            }
          }
          .notification {
            .big-number {
              color: #ffb78b;
            }
          }
        }
        .big-number {
          text-align: right;
          width: 30%;
          margin-right: 10px;
          color: #929293;
          letter-spacing: 3.49px;
        }
      }
    }
  }

  /* CONTENT HEADER TITLE */
  .content-header-title {
    .title-block {
      display: flex;
      margin-bottom: 19px;
      h1 {
        font-size: 18px;
        font-family: "Roboto";
        color: rgb(0, 181, 160);
        line-height: 1.5;
      }
      .add-client {
        width: 267px;
        height: 34px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: #00b5a0;
        margin-left: auto;
        cursor: pointer;

      }

    }
    h1 {
        font-size: 18px;
        font-family: "Myriad Pro";
        color: rgb(0, 181, 160);
        line-height: 1.5;
        }
    hr {
      border: 1px solid rgb(0, 181, 160);
    }

  }
  /* GROUP BLOCK */
  .group-box {
    display: flex;
    flex-wrap: nowrap;
    div {

      margin: 10px;
      text-align: center;
      font-size: 15px;
      font-family: "Roboto";
      color: rgb(112, 112, 112);
      line-height: 1.2;
    }

  }
  /* FILTER BLOCK*/
  .filter-box {
    display: flex;
    flex-wrap: nowrap;

    .filter-form select {

      font-family: "Myriad Pro";
      color: rgb(188, 188, 188);
      line-height: 1.2;
      height: 37px;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      padding-left: 18px;
      padding-right: 18px;
      span {
        margin: px;
      }
    }
    .export {
      padding: 10px;
      margin-left: 100px;
      cursor: pointer;
      a {
        font-size: 12px;
        font-family: "Roboto";
        color: rgb(20, 158, 255);
        line-height: 2.25;
        text-decoration: underline;
        i {
          text-decoration: none;
          margin-right: 2px;
        }
      }

    }
    .printer-icon {
      padding: 10px;
      font-size: 22px;
      margin-left: 70px;
      cursor: pointer;
    }
    .search-box {
      position: relative;
      margin-left: 25px;
      .searchTerm {
        float: left;
        /* width: 81%; */
        border: 1px solid #d8d8d8;
        padding: 5px;
        height: 35px;
        border-radius: 28px;
        outline: none;
        font-size: 14px;
        color: rgb(188, 188, 188);;
        :focus {
          color: rgb(188, 188, 188);;
        }
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(188, 188, 188);
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #d8d8d8;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #d8d8d8;
      }
      .searchButton {
        position: absolute;
        right: -8px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #00b5a0;
        background: #00b5a0;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
    }

  }
  /* NOTIFICATION  COLLAPS FILD */
  .collapsible {
    display: flex;
    background-color: #fafafa;
    height: 52px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #00b5a0;
      color: #fff;
    }
    .active {
      background-color: #00b5a0;
      color: #fff;
    }

    .checkbox {
      flex-grow: 0;
      input {
        margin-left: 10px;
      }
    }
    .status {
      flex-grow: 0;
    }
    .not_autor {
      flex-grow: 11;
    }
    .not_title {
      flex-grow: 16;
    }
    .not_date {
      flex-grow: 10;
    }
  }
  /* COLLAPS CONTENT */
  .collapsible_content {

    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding-top: 30px;
    padding-bottom: 36px;
    padding-left: 73px;
    display: none;
    overflow: hidden;
    background-color: #fff;

    .report {
      float: left;
      width: 70%;
      font-size: 12px;
      font-family: "Myriad Pro";

      line-height: 1.387;
      p {
        color: #58595b;
      }
      span {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #ccc;
        display: block;
      }
      button {
        height: 36px;
        background-color: #aaaaaa;
        color: #fff;
        min-width: 170px;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        text-transform: uppercase;
        &:hover {
          background-color: #00b5a0;
        }
      }
    }

    .print {
      float: left;
      font-size: 28px;
      padding-left: 41px;
    }

  }
  /* NOTIFICATION*/
  .pagination-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .per-page {
      margin-left: 15px;
      margin-right: 15px;
      label {
        color: #707070;
        padding: 15px;
      }
      select {
        height: 32px;
        color: #707070;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
      }
    }
    .pagination {
      a {
        height: 32px;
        color: #707070;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        margin: 3px;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        &:hover {
          background-color: #707070;
          color: #fff;
        }
      }
    }
  }

}

/* NOTIFICATION BOX SECTION */

.notification-box {
  display: flex;
  justify-content: space-between;
  .notification {
    width: 100%;
    margin-right: 10px;
    .notify-list-rows {
      border-radius: 7px;
      overflow: hidden;
      background: #f6f7fa;
      li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        height: 45px;
        padding-right: 15px;
        .notify-date:before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          background: #ffcf60;
          margin: 0 20px;
        }
        .notify-date {
          padding: 0 10px;
          white-space: nowrap;
        }
        .notify-name {
          width: 120px;
          padding: 0 10px;
        }
        .quote-issues {
          flex: 1;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1.2px;
        }
        .btn-read {
          .btn {
            width: 84px;
            height: 27px;
            font-size: 10px;
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }
  .all-notify, .all-clients {
    width: 208px;
    height: 33px;
    margin: 20px auto 35px;
    font-size: 12px;
    letter-spacing: 0.96px;
  }
  .all-clients {
    width: 179px;
    margin-bottom: 0;
  }

  /* CLIENTS BOX */
  .clients-box {
    min-width: 228px;
    .clients {
      background: #f6f7fa;
      border-radius: 7px;
      .cl-list {
        padding-bottom: 35px;
        li {
          display: flex;
          align-items: center;
          border-bottom: 2px solid #ebebeb;
          height: 85px;
          .client-avatar {
            flex: 1;
            padding: 10px;
            .img-wrap {
              width: 43px;
              height: 43px;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .client-info {
            position: relative;
            flex: 3;
            &:after {
              position: absolute;
              top: 0;
              right: 15px;
              content: url("../../images/eye-icon.svg");
              width: 20px;
              height: 11px;
            }
            .cl-name {
              color: #00b5a0;
              letter-spacing: 1.2px;
            }
            .cl-date {
              color: #b5b5b5;
              font-size: 10px;
              letter-spacing: 1px;
            }
            .insurance {
              font-size: 10px;
              font-weight: 500;
              color: #939393;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}

/* STATUS BUTTON */
.circle {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px;
}

.yellow {
  background: #ffcf60;
}

.red {
  background: #ff636a;
}

.blue {
  background: #00b5f6;
}

.green {
  background: #50cc27;
}

/* BUTTON */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 7px;
  font-weight: 400;
  color: #ffffff;
  background: #00b5a0;
  cursor: pointer;
  &:hover {
    background: #2c6f67;
    transition: .3s;
  }
}

/*switch_box*/
.switch_box {
  float: right;
  width: 23%;
  text-align: left;
  padding: 10px 15px 0px 15px;
}

/*Monthly*/
.montly {
  font-size: 11px;
  color: #ccc;
  text-align: left;
  float: left;
}

/*Daily*/
.daily {
  font-size: 11px;
  color: #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 1px;
  float: left;
  margin: 6px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 3px;
  border-radius: 50px;
  bottom: -5px;
  background-color: #fff;
  border: 1px solid;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #17c0a3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #17c0a3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.content .activity-calendar:hover .calendar-slider::-webkit-scrollbar {
  display: block;
  height: 8px;
}

/* Renewals page */
.renewals-filter {
  margin-top: 30px;
  margin-bottom: 25px;
  align-items: center;
  .remew_filter_btn {
    border: none;
    background-color: #00b5a0;
    height: 36px;
    font-size: 12px;
    font-family: "Roboto";
    color: white;
    line-height: 2.25;
    /* padding: 34px; */
    padding: 0 68px;
    border-radius: 5px;
    margin-left: 12px;

  }
  .filter-item {
    position: relative;
    color: #9b9b9b;
    background-color: #dddddd;
    height: 32px;
    border-radius: 5px;
    padding: 10px;
    margin: 2px 5px;
    div {
      float: left;
    }
    span {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: #dddddd;
      background-color: #fff;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 11px;
      padding-top: 3px;
      margin-top: -3px;

    }
  }
  .printer-icon-renew {
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
  }
  .export-renew {
    margin-left: auto;
    cursor: pointer;
    a {
      font-size: 12px;
      font-family: "Roboto";
      color: #149eff;
      line-height: 2.25;
      text-decoration: underline;
      i {
        text-decoration: none;
        margin-right: 2px;
      }
    }
  }

}

.renewals_table_items {
  background-color: #efefef;
  height: 64px;
  display: flex;
  color: #ccc;
  align-items: center;
  span{
    border-left: 1px solid #ccc;
    height: 40px;
    margin-right: 2px;
   }
  .renewals_id {
    flex-grow: 1;
    margin-left: 15px;

  }
  .renewals_date {
    flex-grow: 1;

    select {
      background-color: #efefef;
      border: none;
      color: #ccc;
    }
  }
  .renewals_name {
    flex-grow: 2;

  }
  .renewals_email {
    flex-grow: 9;
  }
  .renewals_customer {
    flex-grow: 4;
  }
  .renewals_policies {
    flex-grow: 3;
  }
  .renewals_referrer {
    flex-grow: 3;
  }
  .renewals_payment {
    flex-grow: 3;
  }
  .renewals_total {
    flex-grow: 3;
  }
  .renewals_processed {
    flex-grow: 3;
  }
}

.renewals_filde {
  height: 60px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 11px;
  div{
    padding-right: 2px;
    padding-left: 2px;
  }
  &:nth-child(odd) {
    background: #fafafa;
  }

  &:nth-child(even) {
    background: #ffffff;
  }
  .renewals_name {
    flex-grow: 2;
  }
  .renewals_email {
    flex-grow: 9;
  }
  .renewals_customer {
    flex-grow: 4;
  }
  .renewals_policies {
    flex-grow: 3;
  }
  .renewals_referrer {
    flex-grow: 3;
  }
  .renewals_payment {
    flex-grow: 3;

  }
  .renewals_total {
    flex-grow: 3;
  }
  .renewals_processed {
    flex-grow: 3;
    .unprocessed_btn {
      height: 32px;
      border: none;
      border-radius: 5px;
      background-color: #ea2f54;
      color: #fff;
      font-size: 11px;
      padding: 0 9px;
    }
  }
}

/* Client page*/

.filter-blocked {
  display: flex;
  margin-bottom: 25px;
  align-items: center;

  .export-bloced {
    margin-left: auto;
    cursor: pointer;
    a {
      font-size: 12px;
      font-family: "Roboto";
      color: #149eff;
      line-height: 2.25;
      text-decoration: underline;
      i {
        text-decoration: none;
        margin-right: 2px;
      }
    }
  }
  .selected {
    height: 35px;
    margin-left: 15px;
    border-radius: 5px;
    color: #c4c4c4;
    min-width: 119px;
  }
  .select-action {
    height: 35px;
    margin-left: 15px;
    border-radius: 5px;
    color: #c4c4c4;
    min-width: 143px;
  }
  .checkbox-lable {
    color: #00b5a0;
    display: flex;
    align-items: center;
    margin-left: 17px;
    font-size: 17px;
    font-family: Myriad Pro;
    input {
      display: none;
      color: #00b5a0;
      padding-right: 10px;
      &:checked + span:before {
        content: "🗹";
        position: absolute;
        color: #00b5a0;
        top: -9px;
        left: -3px;
        font-size: 23px;
      }
    }
    .checkmark {
      height: 17px;
      width: 17px;
      border: 1px solid grey;
      display: inline-block;
      position: relative;
      margin-right: 10px;
    }

  }
}

.clients_table {

  .clients_table_items {
    display: flex;
    background-color: #efefef;
    height: 64px;
    align-items: center;
    color: #bdbdbd;
    select {
      background-color: #efefef;
      border: none;
      color: #bdbdbd;
    }
    .checkbox_icon {
      font-size: 28px;
      margin-left: 10px;
      margin-top: -10px;
    }
    .customer {
      flex-grow: 2;
    }
    .name {
      flex-grow: 3;
    }
    .email {
      flex-grow: 14;
    }
    .policy-number {
      flex-grow: 2;
    }
    .type {
      flex-grow: 2;
    }
    .registered {
      flex-grow: 2;
    }
    .status {
      flex-grow: 2;
    }
  }

  .clients_table_filde {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fafafa;
    font-size: 11px;
    font-family: "Roboto";
    color: rgb(112, 112, 112);
    line-height: 2.455;
    .checkbox_icon {
      flex-grow: 1;
      span {
        color: #c4c4c4;
        display: flex;
        align-items: center;
        margin-left: 9px;
        font-size: 33px;
        font-family: Myriad Pro;
      }
      .checkbox-select {

        input {
          display: none;
          color: #00b5a0;

          &:checked + span:before {
            content: "🗹";
            position: absolute;
            color: #00b5a0;
            top: -18px;
            left: -3px;
            font-size: 23px;
          }
        }
        .checkmark {
          height: 17px;
          width: 17px;
          border: 1px solid grey;
          display: inline-block;
          position: relative;
          background-color: #fff;

        }

      }
    }
    .customer-filde {
      flex-grow: 18;
      padding-left: 9px;
    }
    .name-filde {
      flex-grow: 11;
    }
    .email-filde {
      flex-grow: 19;
    }
    .policy-number-filde {
      flex-grow: 10;
    }
    .type-filde {
      flex-grow: 12;
    }
    .registered-filde {
      flex-grow: 12;
    }
    .status-filde {
      flex-grow: 8;
      font-size: 12px;
      font-family: "Myriad Pro";
      color: #00b5a0;
      line-height: 2.25;
      i {
        color: #00b5a0;
        margin-right: 5px;
      }
    }

    .hiddon-block{
      display: none;
      flex-grow: 10;
      .hiddon-title{
        display: flex;
        flex-grow: 18;
        .hiddon-name {
          font-size: 16px;
          color: #fff;
          line-height: 1.688;
          flex-grow: 20;

        }
        .hiddon-date-block{
          display: flex;
          flex-grow: 10;
        }
        p{
          font-size: 10px;
          color: rgb(114, 232, 215);
          line-height: 2.7;
        }
        label{
          font-size: 10px;
          color: rgb(114, 232, 215);
          line-height:  2.7;
        }


      }
    }

  }

  .client-info-block {
    display: none;
    .client-info-header {
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #fafafa;
      font-size: 11px;
      font-family: "Roboto";
      color: rgb(112, 112, 112);
      line-height: 2.455;
      label {
        font-size: 12px;
        font-family: "Myriad Pro";
        color: rgb(170, 170, 170);
        line-height: 2.25;
        text-align: left;
        margin-left: 96px;
      }
      p {
        font-size: 12px;
        font-family: "Myriad Pro";
        color: rgb(102, 102, 102);
        line-height: 2.25;
        margin-left: 19px;
      }
      .statuse {
        margin-left: auto;
        font-size: 12px;
        font-family: "Myriad Pro";
        color: rgb(0, 181, 160);
        line-height: 2.25;
        margin-right: 30px;
        i {
          color: rgb(0, 181, 160);
          margin-right: 5px;
        }
      }
    }

    .client-info-content {
      display: flex;

      .personal-datails {
        margin-left: 60px;
        margin-right: 25px;

        .insurance-tayp {
          min-width: 330px;
          display: flex;
          align-items: center;
          margin-top: 24px;
          margin-bottom: 24px;
          label {
            font-size: 12px;
            color: #aaaaaa;
          }
          p {
            font-size: 12px;
            color: #666666;
            margin-left: 14px;
          }
          button {
            height: 28px;
            border: none;
            background-color: #0dc3af;
            color: #fff;
            border-radius: 4px;
            min-width: 150px;
            margin-left: 46px;
            text-transform: uppercase;

          }
        }

        .datail-form {
          min-width: 330px;
          border: 1px #f5f5f5;
          border-style: dashed;
          border-radius: 10px;
          display: flex;
          flex-direction: column;

          .top-title {
            font-family: "Roboto";
            color: rgb(155, 155, 155);
            line-height: 1.2;
            margin-top: -8px;
            margin-left: 7px;
            margin-bottom: 15px;

          }
        ;
          .form-group {
            margin-right: 44px;
            margin-left: 19px;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            .save {
              height: 27px;
              border: none;
              border-radius: 5px;
              color: #fff;
              background-color: #00b5a0;
              width: 155px;
              margin-right: 20px;
              font-size: 12px;
            }
            .discarde {
              height: 27px;
              border: none;
              border-radius: 5px;
              color: #fff;
              background-color: #bebebf;
              width: 84px;
              font-size: 12px;
            }
            label {

              margin-bottom: 10px;
              font-size: 12px;
              font-family: "Roboto";
              color: rgb(170, 170, 170);
              line-height: 2.25;
              text-align: left;
              min-width: 80px;

            }
            input[type="text"] {
              min-width: 130px;
              height: 35px;
              border-radius: 5px;
              border: 1px solid #aaaaaa;
            }
            select {
              min-width: 158px;
              height: 35px;
              border-radius: 5px;
              border: 1px solid #aaaaaa;
            }
            i {
              color: #17c0a3;
              font-size: 15px;
              margin-left: 10px;
            }
            .switch_box_info {
              display: flex;
              align-items: center;
              min-width: 158px;
              .date-type {
                font-family: "Roboto";
                color: rgb(102, 102, 102);
                line-height: 1.2;
              }
              .switch_block {
                position: relative;
                display: inline-block;
                min-width: 51px;
                height: 10px;
                float: left;
                margin: 6px;
              }

              .switch_block input {
                display: none;
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                width: 38px;
                height: 14px;
                border-radius: 29px;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 12px;
                width: 12px;
                left: 3px;
                border-radius: 50px;
                bottom: 0px;
                background-color: #fff;
                border: 1px solid;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }

              input:checked + .slider {
                background-color: #17c0a3;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px #17c0a3;
              }

              input:checked + .slider:before {
                -webkit-transform: translateX(18px);
                -ms-transform: translateX(18px);
                transform: translateX(18px);
              }

            }

            .user_photo {
              img {
                width: 47px;
                border-radius: 50%;
              }
              span {

              }
            }

          }

        }

      }
      .contact-info {

        .insurance-tayp-1 {
          min-width: 330px;
          display: flex;
          align-items: center;
          margin-top: 24px;
          margin-bottom: 24px;
          label {
            font-size: 12px;
            color: #aaaaaa;
          }
          p {
            font-size: 12px;
            color: #666666;
            margin-left: 14px;
          }
          button {
            height: 28px;
            border: none;
            background-color: #0dc3af;
            color: #fff;
            border-radius: 4px;
            min-width: 150px;
            margin-left: 46px;
            text-transform: uppercase;

          }
        }
        .info-form {
          min-width: 330px;
          border: 1px #f5f5f5;
          border-style: dashed;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          button {
            width: 110px;
            height: 30px;
            color: #fff;
            background-color: #00b5a0;
            border-radius: 5px;
            border: none;
            margin-top: 27px;
            margin-bottom: 27px;
            margin-left: 15px;

          }
          span {
            font-family: "Roboto";
            color: rgb(155, 155, 155);
            line-height: 1.2;
            margin-top: -8px;
            margin-left: 10px;
            margin-bottom: 15px;
          }
        ;
          .form-group {
            margin-right: 44px;
            margin-left: 19px;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            div {

              font-size: 12px;
              font-family: "Roboto";
              color: rgb(102, 102, 102);
              line-height: 2.25;
              text-align: right;

            }
            label {
              font-size: 12px;
              font-family: "Roboto";
              color: rgb(170, 170, 170);
              line-height: 2.25;
              text-align: left;
              min-width: 110px;

            }
            input {
              min-width: 130px;
              height: 35px;
              border-radius: 5px;
              border: 1px solid #aaaaaa;
            }
            select {
              min-width: 158px;
              height: 35px;
              border-radius: 5px;
              border: 1px solid #aaaaaa;
            }
          }

        }
      }
      .info-print {
        margin-top: 30px;
        font-size: 19px;
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
          margin-bottom: auto;
        }
        .block{
          align-self: flex-end;
          border: 1px solid #ededed;
          border-radius: 4px;
          background-color: #fff;
          color: #b5b5b5;
          height: 40px;
          min-width: 100px;
        }
      }

    }
  }
}



/*Quotes page*/
.quotes_table_items {
  background-color: #efefef;
  height: 64px;
  display: flex;
  color: #ccc;
  align-items: center;

  .quotes_id {
    flex-grow: 1;
    margin-left: 15px;
  }
  .quotes_date {
    flex-grow: 4;
    select {
      background-color: #efefef;
      border: none;
      color: #ccc;
    }
  }
  .quotes_name {
    flex-grow: 5;
  }

  .quotes_type {
    flex-grow: 1;
  }
  .quotes_email {
    flex-grow: 19;
  }
  .quotes_customer {
    flex-grow: 4;
  }
  .quotes_policies {
    flex-grow: 3;
  }
  .quotes_referrer {
    flex-grow: 3;
  }
  .quotes_last_step{
    flex-grow: 2;
  }
  .quotes_quote_status{
    flex-grow: 3;
  }
  .quotes_payment {
    flex-grow: 3;
  }
  .quotes_total {
    flex-grow: 3;
  }
  .quotes_processed {
    flex-grow: 3;
  }
}

.quotes_filde {
  height: 60px;
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 11px;
  &:nth-child(odd) {
    background: #fafafa;
  }

  &:nth-child(even) {
    background: #ffffff;
  }
  .quotes_filde_id {
    flex-grow: 1;
    margin-left: 5px;
  }
  .quotes_filde_type {
    flex-grow: 1;
  }
  .quotes_filde_date {
    flex-grow: 3;
  }
  .quotes_filde_name {
    flex-grow: 1;
  }

  .quotes_filde_email {
    flex-grow: 4;
  }
  .quotes_filde_last_step {
    flex-grow: 3;
  }
  .quotes_filde_referrer {
    flex-grow: 3;
  }
  .quotes_filde_quote_status {
    flex-grow: 2;
    span{
        font-size: 11px;
        font-family: "Roboto";
        color: rgb(76, 138, 229);
        line-height: 2.455;

    }
  }
  .quotes_filde_payment {
    flex-grow: 6;
  }
  .quotes_filde_total {
    flex-grow: 1;
  }
  .quotes_filde_processed {
    flex-grow: 1;
  }
  .quotes_filde_processed {
    flex-grow: 1;
    .quotes_unprocessed_btn {
      height: 32px;
      border: none;
      border-radius: 5px;
      background-color: #ea2f54;
      color: #fff;
      font-size: 11px;
      padding: 0 9px;
    }
  }
}

.quotes-info-block{
  .quotes-info-header{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;


    .full-name{
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(0, 181, 160);
        line-height: 1.929;
        margin-right: auto;
        margin-left: 30px;
      hr{
        border-color:rgb(0, 181, 160) ;
        border: 0.5px solid;
      }
    }
    .pricing{
        font-size: 11px;
        font-family: "Myriad Pro";
        color: rgb(155, 155, 155);
        line-height: 2.455;
        margin-left: 10px;
      span{
        color: #666666;
      }

    }
    .total{
      span{
        font-size: 18px;
        margin-right: 40px;
      }
    }
  }
  .quotes-info-content{
    margin-left: 30px;
    margin-top: 20px;


    .quotes-options{
      display: flex;
      align-items: center;
      button{
        height: 27px;
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: #00b567;
        font-size: 12px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2.25;
      }
      .posted{
        min-width: 199px;
      }
      .paid{
        min-width: 144px;
        margin-left: 9px;
      }
      .completed {
        min-width: 163px;
        margin-left: 9px;
      }
      label{
          font-size: 14px;
          font-family: "Roboto";
          color: rgb(0, 181, 103);
          line-height: 1.929;
      }
    }

    .quotes-popup-contener {

      display: flex;

      .quote-information-block{
        border-radius: 10px;
        border: 1px dashed #e2e2e2;
        width: 600px;
        margin-top: 30px;
        padding-left: 27px;
        padding-right: 20px;
        padding-top: 23px;
        padding-bottom: 30px;
        .questions-title{
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          p{
            font-family: "Myriad Pro";
            color: rgb(198, 198, 198);
            line-height: 1.2;
            flex-grow: 1;
          }
          span{
            border-bottom: 1px solid rgb(198, 198, 198);
            flex-grow: 100;
          }
        }
        .cover-questions {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          p{
            font-family: "Roboto";
            color: rgb(155, 155, 155);
            line-height: 1.2;
          }
          span{
            color: #666666;
          }
          .destination{
            display: flex;
            flex-grow: 10;
          }
          .from-till{
            display: flex;
            flex-direction: column;
            flex-grow: 10;
            div{
              display:flex ;
            }

          }
          .duration {
            display: flex;
            flex-grow: 2;
          }
        }
        .package-selection{

          .package-block{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            p{
              font-family: "Roboto";
              color: rgb(155, 155, 155);
              line-height: 1.2;
            }
            span{
              color: #666666;
            }
            .package {
              flex-grow: 10;
              display: flex;
            }
            .sports {
              flex-grow: 10;
              display: flex;
            }

          }

        }
        .medical-history{

          p{
            font-family: "Myriad Pro";
            color: rgb(155, 155, 155);
            line-height: 1.2;

          }
          span{
            color: #666666;
          }
        }


      }

      .quote-information-right-block{
        margin-top: 30px;
        margin-left: 25px;
        border-radius: 10px;
        border: 1px dashed #e2e2e2;
        width: 600px;

      }

    }



  }
}



